/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Piazzolla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,500;1,600&family=Roboto:wght@300;400;500&display=swap');

/* ::::::::::::::::::: Globals ::::::::::::::::::::: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--BgColor);
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.btn-primary {
  margin: 1rem auto;
  text-align: center;
  background: transparent;
  border: 2px solid var(--MainColor);
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: var(--MainTransition);
  letter-spacing: 1.2px;
  font-weight: 600;
  color: var(--MainColor);
}
.section {
  max-width: 100vw;
  margin: 0 auto;
}
.section-center {
  max-width: 90%;
  margin: 0 auto;
}
.section-title {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 1.5rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-family: var(--TitleFont);
}
.section-subtitle {
  margin: 0 auto;
  text-align: center;
  margin-top: -1.3rem;
  font-family: var(--LogoFont);
  letter-spacing: 1.3px;
  margin-bottom: 4rem;
}
@media screen and (min-width: 730px) {
  .section-center {
    width: 95%;
  }
  .section-title {
    margin-top: 5rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 860px) {
  .section-title {
    margin-top: 6rem;
  }
}
#root {
  max-width: 100vw;
}
/* End Globals */

/* ::::::::::::::::::: Variables ::::::::::::::::::::: */
:root {
  /* Colors */
  --BgColor: rgb(247, 247, 247);
  --GrayColor: #323232;
  --FontGrayColor: #686868;
  --CtaColor: #1a1a1a;
  /* Fonts */
  --TitleFont: 'Montserrat', sans-serif;
  --TextsFont: 'Roboto', sans-serif;
  --CtaFonts: 'Piazzolla', serif;
  --LogoFont: 'Piazzolla', serif; /*Cursive*/
  /* Others */
  --MainTransition: 0.3s ease all;
}
/* End Variables */
.section-division {
  background-color: var(--FontGrayColor);
  height: 1px;
  width: 25%;
  margin: 0 auto;
}
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/* ::::::::::::::::: Loading ::::::::::::::::::  */
.loading-sect {
  min-height: 55vh;
}
/* End Loading*/

/* ::::::::::::::::: Banner ::::::::::::::::::  */
.banner-sect {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(10, 0, 1, 0.7)),
    url('https://firebasestorage.googleapis.com/v0/b/nasa-fun.appspot.com/o/banner1.jpg?alt=media&token=bcf8695d-a19a-4e0e-9eb8-e3b3c59ac435')
      center/cover fixed no-repeat;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0 97%, 0 0);
  position: relative;
}
.banner-info {
  position: absolute;
  bottom: 25%;
  left: 10%;
}
.banner-text {
  color: white;
  font-family: var(--LogoFont);
  letter-spacing: 2px;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 1rem;
  /* For Animation */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  overflow: hidden;
  border-right: 0.2rem solid crimson;
  white-space: nowrap;
}
.banner-info-img {
  width: 25rem;
}
/* Typewritter Animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: crimson;
  }
}
/* End Banner */

/* ::::::::::::::::: About ::::::::::::::::::  */
.about-sect {
  position: relative;
  margin-bottom: 4rem;
}
.about-info {
  width: 70%;
  font-family: var(--TextsFont);
  color: var(--GrayColor);
  font-size: 1.3rem;
  margin: 0 auto;
  text-align: center;
}
.about-span-logo {
  width: 4rem;
}
.about-info span {
  margin: 0rem 0.5rem;
}
.about-quote {
  margin-top: 2rem;
  padding: 0.5rem 0rem;
}
.quote-signature {
  font-size: 0.8rem;
  color: var(--FontGrayColor);
  font-family: var(--LogoFont);
  font-style: italic;
}
/* End About */

/* ::::::::::::::::: Banner ::::::::::::::::::  */
.earth-sect {
  min-height: 50vh;
}
.earth-info-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.earth-info-img {
  width: 25rem;
  justify-self: left;
}
.earth-text {
  width: 100%;
  text-align: center;
  margin-top: -4rem;
}
.earth-desc {
  font-family: var(--TextsFont);
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  color: var(--CtaColor);
  width: 80%;
  margin: 0 auto;
}
.earth-desc2 {
  font-family: var(--TextsFont);
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  color: var(--CtaColor);
  margin-top: 1rem;
  width: 80%;
  margin: 0 auto;
}
/* End Banner */

/* ::::::::::::::::: APOD ::::::::::::::::::  */
.apod-sect {
  min-height: 50vh;
  margin-bottom: 4rem;
}
.apod-container {
  width: 80%;
  height: 28rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
}
.apod-img-container {
  width: 100%;
  height: 100%;
  border: 2px solid var(--CtaColor);
  border-radius: 1rem;
  overflow: hidden;
}
.apod-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.apod-info {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 1.2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.apod-date {
  color: var(--FontGrayColor);
  letter-spacing: 1.2px;
  font-size: 0.9rem;
}
.apod-title {
  font-family: var(--TitleFont);
  color: black;
  letter-spacing: 1.3px;
}
.apod-explanation {
  font-family: var(--TextsFont);
  letter-spacing: 1.1px;
  font-size: 0.9rem;
}
/* End APOD */

/* ::::::::::::::::: Mars Page ::::::::::::::::::  */
.mars-sect {
  min-height: 100vh;
}
.selection-text {
  font-family: var(--LogoFont);
  letter-spacing: 2px;
  font-size: 1.4rem;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: var(--FontGrayColor);
}
/* End Mars Page*/

/* ::::::::::::::::: Rover Selection :::::::::::::::::::  */
.rovers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
}
.single-rover {
  width: 100%;
  border: 1px solid var(--GrayColor);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: var(--MainTransition);
}
.single-rover:hover {
  box-shadow: 1px 1px 8px #1a1a1ac1;
}
.rover-img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}
.rovers-info {
  text-align: center;
  width: 90%;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rover-name {
  font-family: var(--TitleFont);
  letter-spacing: 2px;
  font-size: 1.6rem;
}
.rover-desc {
  width: 95%;
  margin: 0 auto;
  font-family: var(--TextsFont);
  letter-spacing: 1.1px;
  font-size: 0.9rem;
  padding: 1rem 0rem;
}
/* End Rover Selection */

/* ::::::::::::::::: Banner ::::::::::::::::::  */
/* End Banner */

/* ::::::::::::::::: Banner ::::::::::::::::::  */
/* End Banner */

/* ::::::::::::::::: Banner ::::::::::::::::::  */
/* End Banner */

/* ::::::::::::::::: Footer::::::::::::::::::  */
.footer-sect {
  min-height: 10vh;
  background: var(--CtaColor);
  text-align: center;
  border-top: 1px solid var(--FontGrayColor);
}
.footer-container {
  padding: 4rem 0rem;
}
.footer-text {
  color: var(--FontGrayColor);
  font-size: 1.4rem;
  letter-spacing: 2px;
}
.footer-cta {
  transition: var(--MainTransition);
  margin-left: 0.5rem;
}
.footer-cta:hover {
  color: white;
}
.footer-copy {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
/* End Footer*/
